.blogimg-container {
  width: 90vw;
  max-width: 1024px;
}

.blogimg-container img {
  width: 100%;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
}

.home-container h2 {
  font-size: 3em;
}