@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
}