@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.post-user-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.post-user-container h2 span {
  font-family: 'Pacifico', cursive;;
}